<div class="container"
     flow-init="vm.flowOptions"
     flow-name="vm.flow"
     flow-files-submitted="vm.filesSubmitted($flow)"
     flow-file-success="vm.fileSuccess($file, $message, $flow)"
     flow-error="vm.fileUploadingError($file, $message, $flow)">
    <div class="row">
        <div class="col-md-5">
            <div class="new-tweet-form">
                <div class="form-group">
                    <textarea class="form-control" placeholder="What's happening..." data-ng-model="vm.tweet.text"
                              rows="3"></textarea>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <button flow-btn="" class="btn btn-default" data-ng-if="!vm.tweet.media">
                                <icon class="fa fa-camera"></icon>
                            </button>
                            <div data-ng-if="vm.tweet.media">
                                <img data-ng-src="{{vm.tweet.media.url}}" width="100px"
                                     data-ng-click="vm.removeImage()"/>

                                <div>
                                    <small>Click on image to remove it</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-default pull-right" data-ng-click="vm.post()"
                                    data-ng-disabled="!vm.tweet.text">
                                Post
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="tweets-container">
                <div class="media tweet" data-ng-repeat="tweet in vm.tweets">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" data-ng-src="{{::tweet.user.profile_image_url}}"
                                 alt="profile image"/>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" data-ng-bind="::tweet.user.name"></h4>
                        <span data-ng-bind="::tweet.text"></span>

                        <div class="images-container">
                            <div class="image-item" data-ng-repeat="image in tweet.entities.media">
                                <img class="media-object" data-ng-src="{{::image.media_url}}" alt="media"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>